{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Профиль пользователя</h5>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <h6 class="fw-bold">Имя пользователя:</h6>
                        </div>
                        <div class="col-md-8">
                            {{ current_user.username }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <h6 class="fw-bold">Роль:</h6>
                        </div>
                        <div class="col-md-8">
                            {% if current_user.roles %}
                                {{ current_user.roles|join(', ') }}
                            {% else %}
                                Нет назначенной роли
                            {% endif %}
                        </div>
                    </div>
                    
                    {% if student_info %}
                    <hr>
                    <h6 class="text-muted mb-3">Информация о студенте</h6>
                    
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <h6 class="fw-bold">ФИО:</h6>
                        </div>
                        <div class="col-md-8">
                            {{ student_info.surname }} {{ student_info.name }} {{ student_info.patronymic }}
                        </div>
                    </div>
                    
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <h6 class="fw-bold">Группа:</h6>
                        </div>
                        <div class="col-md-8">
                            {{ student_info.group }}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
